In [11]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [12]:
headers = {"User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/109.0.0.0 Safari/537.36", 
    "X-Amzn-Trace-Id": "Root=1-63d6442a-250e2e311a19e4b0223a9391"}

In [ ]:
name=[]
rating=[]
reviews=[]
company_type=[]
headqrt=[]
old=[]
employees=[]
tags=[]

for j in range(1,500):
  url = 'https://www.ambitionbox.com/list-of-companies?page=1'.format(j)
  web_page = requests.get(url,headers=headers).text
#     print(web_page)
  soup = BeautifulSoup(web_page,'lxml')
  company = soup.find_all('div', class_ = 'company-content-wrapper')

  for i in company:
    name.append(i.find('h2').text.strip())
    rating.append(i.find('p',class_ = 'rating').text.strip())
    reviews.append(i.find('a',class_ = 'review-count').text.strip())
    company_type.append(i.find('p',class_='infoEntity').text.strip())
    headqrt.append(i.find_all('p',class_='infoEntity')[1].text.strip())
    old.append(i.find_all('p',class_='infoEntity')[2].text.strip())
    
  df=pd.DataFrame({'NAME':name,'RATING':rating,'REVIEWS':reviews,'COMPANY TYPE':company_type, 'COMPANY LOCATION':headqrt,'OLD':old})
  df
  print(df)

In [14]:
df.head(100)

Empty DataFrame
Columns: [NAME, RATING, REVIEWS, COMPANY TYPE, COMPANY LOCATION, OLD]
Index: []

In [15]:
df.shape

(0, 6)

In [16]:
df.columns

Index(['NAME', 'RATING', 'REVIEWS', 'COMPANY TYPE', 'COMPANY LOCATION', 'OLD'], dtype='object')

In [17]:
df.to_csv('ambition.csv')

In [20]:
df = pd.DataFrame(df)
df

Empty DataFrame
Columns: [NAME, RATING, REVIEWS, COMPANY TYPE, COMPANY LOCATION, OLD]
Index: []

In [22]:
df1 = pd.read_csv("/content/ambition.csv")
df1

Empty DataFrame
Columns: [Unnamed: 0, NAME, RATING, REVIEWS, COMPANY TYPE, COMPANY LOCATION, OLD]
Index: []